*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.rootContainer{
    width: 100%;
}
.container{
    width: 100%;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}